<html>
     <head>
       <tittle>DJANGO GIRLS BLOG</title>
    </head>
    <body>
      <div>
        <h1><a href="/">Django Girls Blog</a></h1>
      </div>

      <div>

       <p>published: 09:03:2019,11:25</p>
       <h2><a href="">My first post</a></h2>
       <p>hi hello everyone welcome to django.</p>
     </div>

       <div>
         <p>published: 09:03:2019,11:25</p>
         <h2><a href="">My second post</a></h2>
            <p>let's have fun with django.</p>



       </div>
   </body>
</html>
